{% assign primaryColor = site.data.colormapper[site.colors.primary] %}
{% assign primaryLightColor = site.data.colormapper[site.colors.primary_light] %}
{% assign primaryDarkColor = site.data.colormapper[site.colors.primary_dark] %}
{% assign accentColor = site.data.colormapper[site.colors.accent] %}
{% assign accentDark1Color = site.data.colormapper[site.colors.accent_dark_1] %}
{% assign accentDark2Color = site.data.colormapper[site.colors.accent_dark_2] %}
{% assign primaryTextColor = site.data.colormapper[site.colors.primary_text] %}
{% assign secondaryTextColor = site.data.colormapper[site.colors.secondary_text] %}
{% assign inverseTextColor = site.data.colormapper[site.colors.inverse_text] %}
{% assign dividerColor = site.data.colormapper[site.colors.divider] %}
{% assign secondaryBackgroundColor = site.data.colormapper[site.colors.secondaryBackground]%}
{% assign whiteColor = site.data.colormapper[site.colors.inverse_text] %}
{% assign bannerImage = site.banner_team_2 %}

.btn, .btn-large, .btn-small {
    background-color: {{accentColor}};
}
.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: {{accentDark1Color}};
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
    background-color: {{accentDark2Color}};
}
.dropdown-content li>a, .dropdown-content li>span {
    color: {{accentColor}};
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid {{accentColor}};
    border-bottom: 2px solid {{accentColor}};
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid  {{accentColor}};
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid {{accentColor}};
    -webkit-box-shadow: 0 1px 0 0 {{accentColor}};
    box-shadow: 0 1px 0 0 {{accentColor}};
}
a {color: {{primaryLightColor}};fill:{{primaryColor}};}
a:hover {color: {{accentColor}};fill:{{accentColor}};}
h1,h2,h3,h4,h5,h6{color: {{primaryColor}};}
body{
	color: {{primaryTextColor}};
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav ul a{color: {{primaryColor}};}
nav .brand-logo{color: {{primaryColor}}}
.justify-align{text-align:justify;}
nav a{color: {{primaryColor}};}
main{flex: 1 0 auto;}
.side-nav li>a{color: {{primaryColor}};}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{padding-left:32px;}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a{padding-left:47px;}
h1,h2,h3,h4,h5,h6{-webkit-font-smoothing: antialiased;}
.icon-block{padding: 0 15px;}
.icon-block .material-icons{font-size: inherit;}
.row{margin-bottom:0px;}
.logo{width:37px;height:37px;margin-right:10px;margin-bottom:-8px;}
.page-footer{background-color:{{accentColor}};}
.nav-button{width:20px; height:20px; viewBox:0 0 20 20;margin-top: 22px;}
footer h5{color:{{inverseTextColor}};}
hr{background-color:{{dividerColor}};}
.divider{background-color:{{dividerColor}};}
.page-footer{padding-top: 0px;}

body::-webkit-scrollbar {
    width: 0.55em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: {{secondaryBackgroundColor}};
  outline: 1px solid {{secondaryTextColor}};
}

.page-footer a {
    color: {{whiteColor}};
    text-decoration: underline;
}

.page-footer {
    background-color: {{primaryTextColor}};
}
.page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6 {
    color: {{whiteColor}};
    font-weight: 500;
}
.page-footer .footer-copyright{
    background-color: rgb(51 51 51 / 69%);
}

i.smaller{
    font-size: 1.6em;
}

.social-icons a{
    margin-right: 18px;
    text-decoration: none;
}

.whatsapp{
    background-color: #25d366;
}

.btn-floating i {
    font-size: 1.3em;
}