<nav role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" class="brand-logo" href="/"><img src="/{{site.logo }}" class="logo"></a>
	    {% assign navbaritems = site.collections | where_exp: "item", "item.navbar_title" | sort: 'order' %}

	  <ul class="right hide-on-med-and-down">
		{% for navbaritem in navbaritems %}
			<li><a href="/{{navbaritem.label}}/index.html">{{navbaritem.navbar_title}}</a></li>
		{% endfor %}
	  </ul>

	  <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div id="trianglify-content-mobile" class="background">
                    <!--  -->
                </div>
                <a><img class="circle" src="/{{site.logo}}"></a>
                <a><span class="white-text name">{{site.title}}</span></a>
                <a><span class="white-text email">{{site.description}}</span></a>
            </div>
        </li>
		<li class="divider"></li>
		{% for navbaritem in navbaritems %}
			<li><a href="/{{navbaritem.label}}/index.html">{{navbaritem.navbar_title}}</a></li>
			<li class="divider"></li>
		{% endfor %}
	  </ul>

	  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
</nav>